$color-primary: #eee;
$color-secondary: #ffbfcb;
$border-color: #000;
$cell-size: 100px;
$cell-gap: 1px;
$grid-padding: 10px;
$cols: 7;
$week-day: 'mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun';
$container-width: calc(
  ($cell-size * $cols) + ($cell-gap * ($cols - 1)) + ($grid-padding * 2)
);
